{% extends 'TemPre/base.html' %}
{% load static %}
{% block title %}主页{% endblock %}
{% block link %}
    <link href="{% static 'TemPre/css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="top">
            <p class="title">天气预测</p>
            <p class="location">成都市</p>
        </div>
        <div class="middle">
            <div class="todayWeather">
                <p class="itemTitle">今日天气</p>
            </div>
            <div class="pastWeather">
                <p class="itemTitle">历史天气</p>
            </div>
            <div class="temPre">
                <p class="itemTitle">温度预测</p>
            </div>
        </div>
        <div class="bottom">
            <div class="block"></div>
            <div class="block"></div>
            <p class="message">巧克力王子和六个小矮人 版权所有</p>
        </div>
    </div>
{% endblock %}