{% extends 'TemPre/base.html' %}
{% load static %}
{% block title %}历史天气数据{% endblock %}
{% block link %}
    <link href="{% static 'TemPre/css/weather.css' %}" rel="stylesheet">
    <script src="{% static 'echarts/echarts.min.js' %}"></script>
    <script src="{% static 'TemPre/js/echartsTheme.js' %}"></script>
    <script src="{% static 'TemPre/js/processData.js' %}"></script>
    <script src="{% static 'TemPre/js/dateSelect.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="dateSelect">
        <p style="font-weight: bold;">
            <label>日期选择：</label>
            <select id="sel_year"></select>年
            <select id="sel_month"></select>月
        </p>
    </div>
    <div id="historyPic" style="width: 600px;height:400px;"></div>
    <div id="latestSevenDaysPic" style="width: 600px;height:300px;"></div>
{% endblock %}